/* HERO */
.hero {
  height: 100vh;
  background-image: url("https://wallpapers.com/images/hd/beautiful-background-9eitvbn5p15z5rlu.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 20px;
  color: #cccccc;
}

/* SECCIONES */
.section {
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
}

.section.dark {
  background-color: #141414;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.section-content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.section-content.reverse {
  flex-direction: row-reverse;
}

.section-content img {
  width: 50%;
  border-radius: 10px;
}

.section-content p {
  width: 50%;
  color: #cccccc;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .section-content,
  .section-content.reverse {
    flex-direction: column;
  }

  .section-content img,
  .section-content p {
    width: 100%;
  }

  .hero-overlay h1 {
    font-size: 36px;
  }
}
