.cart-container {
  max-width: 700px;
  margin: 40px auto;
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item span {
  flex: 1;
  text-align: center;
}

.cart-item button {
  background-color: #2a2a2a;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}

.total {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
}
.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.continue-btn {
  background-color: #2a2a2a;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
}

.pay-btn {
  background-color: #4caf50;
  color: black;
  padding: 10px 16px;
  border-radius: 6px;
}

